<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

<header>
    <img src="img/fondo.jpg" alt="logo juniiv">

</header>

    <body>

        <h2 class="productosInteres"> Productos que podrian interesarte</h2>
        <div class="contenedor">
            <img src="img/monitor.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
        </select>
        <input type="button" name="agregar" value="agregar">

        </div>
        <div class="contenedor">
            <img src="img/joystick.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
            <div>
                <img src="img/agregar-carrito.png" alt= "agregar al carrito">
            </div>
        </select>
        <input type="button" name="agregar" value="agregar">

        </div>

        <div class="contenedor">
            <img src="img/teclado.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
        </select>
        <input type="button" name="agregar" value="agregar">
        </div>
        <div class="contenedor">
            <img src="img/mouse.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
            </select>
            <input type="button" name="agregar" value="agregar">

        </div>

        <section>
            <h2 class="carritoDeCompra">Carrito de compra</h2>

            <ul>
                <li>
                    <img src="img/joystick.jpg">
                    <p class= "nombre">nombre del producto</p>
                    <p class= "nombre">caracteristicas:</p>
                    <p class="precioDerecha">$202020</p>
                </li>
                <li>
                    <img src="img/joystick.jpg">
                    <p class= "nombre">nombre del producto</p>
                    <p class= "nombre">caracteristicas:</p>
                    <p class="precioDerecha">$202020</p>
                </li>
                <li>
                    <img src="img/joystick.jpg">
                    <p class= "nombre">nombre del producto</p>
                    <p class= "nombre">caracteristicas:</p>
                    <p class="precioDerecha">$202020</p>

                </li>
            </ul>

            <div class="codDescuento">
            <input type= "text" value="codigo de descuento">
            <input type="button" name="agregar" value="usar">
            </div>

            <div class="total">
                <p>subtotal:</p>
                <p class="precioDerecha">$00000000</p>
                <p>envio:</p>
                <p class="precioDerecha">$00000000</p>
            </div>
            <div class="total">
                <p>Total:</p>
                <p class="precioDerecha">$00000000</p>
            </div>
            <div class=iniciarCompra>
            <input type="button" name="iniciar" value="INICIAR COMPRA">
            </div>
        </section>
        
    </body>
    <footer>
        
    </footer>
</html>