<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



        <div>
            
            <h5>nombre del producto (name)</h5>

        </div>

        <h5>descripcion (description)</h5>

        <h5>imagen (image)</h5>

        <h5>categoria (category)</h5>

        <h5>colores (o cualquier otro campo similar como: tamaños, talles, etc.)</h5>

        <h5>precio (price)</h5>

    
</body>
</html>