<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junniv</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
        <div>
            <img src = "/img/logo.jpeg" alt=logo>
        </div>
        <div>
            <h4>Bienvenido Username</h4>
        </div>
        <div>
            <p>Buscar productos, caterogías y más ...</p>
        </div>
        <div>
            <p>Ayuda/PQRS</p>
        </div>
        <di>
            <p>carrito</p>
        </div>
        <nav>
            <ul>
                <li>caterogías</li>
                <li>Ofertas</li>
                <li>Packs</li>
                <li>Vlogs</li>
                <li>Otros</li>
            </ul>
        </nav>
    </header>
    <main>
        <img src = "/img/banner-lol.jpg" alt=banner>
        <section>
            <article>
            <img src="/img/padmouse-crysis.jpg" alt=Crysis>
            <div>
                <p>Nombre</p>
                <p>Descripcion</p>
                <p>precio</p>
                <p>descuento</p>
            </div>
            </article>
            <article>
                <img src="/img/padmouse-pubg.jpg" alt=Crysis>
                <div>
                    <p>Nombre</p>
                    <p>Descripcion</p>
                    <p>precio</p>
                    <p>descuento</p>
                </div>
            </article>
            <article>
            <img src="/img/padmouse-crysis.jpg" alt=Crysis>
            <div>
                <p>Nombre</p>
                <p>Descripcion</p>
                <p>precio</p>
                <p>descuento</p>
            </div>
            </article>
            <article>
                <img src="/img/padmouse-crysis.jpg" alt=Crysis>
                <div>
                    <h3>Nombre</h3>
                    <p>Descripcion</p>
                    <p>precio</p>
                    <p>descuento</p>
                </div>
            </article>
        </section>
        <section>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>