*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #240046
}

.main-header {
    background-color: #303135; 
    border: solid #b1b6cc;
    margin: 0%;
    width: 100%;
    padding: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
        
}
.juniiv-logo{
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: 250px;
}
.header-search{
    display: flex;
    flex-wrap: wrap;
    background-color: #303135;
    height: auto;
    width: 100%;
    flex-direction: row;
    height: 50%;
    align-self: center;
    }
    

.header-search .search-box{
    margin: auto;
    background-color: #303135;
    position: absolute;
    padding: 5px;
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-self: center; 
}
.search-box input{
    width: 90%;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;

}

.btn {
    position: absolute;
    top: 0;
    right:0;
    background: #000000;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box:hover input{
    width: 100%;
}

.main-navbar{
    position: relative;
    top: 150px;
    width: 500px;
    padding: 10px;;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    height: 40%;
    background-color: #303135;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: blue ;

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{

    margin: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#9b59b6 ;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:#240046;
    cursor: pointer;
}

form .button input:hover{
    background: #240046;
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
        overflow: scroll;
    }
    .header{
        max-width: 100%;
    }
  

    body{
        max-width: 100%;
    }
}



form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

form .gender-details .category{
    width: 100%;
}



.user-details::-webkit-scrollbar{
    width: 0;
}