*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "titillium", sans-serif;
    background-color:#222222 ;
}


header{
    background-color: #303135;
}

h4{
    font-size: 25px;
    color: white;
}

h3{
    font-size: 23px;
    color: white;
}

p{
    font-size: 12px;
    color: white;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header nav{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
}

.lista01 li{
    border-left: 1px solid yellow;
    padding-left: 5px;
    flex-direction: row-reverse;
}

.lista02 li{
    border-left: 1px solid yellow;
    padding-left: 5px;
}

header div.top-header{
    display: flex;
}

header div.top-logo img{
    width: 70%;
}

div.top-logo,
div.welcome,
div.search,
div.help{
    width:20%;
    align-items:center;
}

section.publicidad img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
    margin-bottom: 15px;
    align-items: center;
}

main section article img{
    width: 100%;
    object-fit: contain;
}

.productos{
    color:white;
    font-size: 18px;
}

.tituloPro{
    font-size: 17px;
}

.descripcion{
    display: none;
    font-size: 14px;
    text-align: start;
    color: white;
}

.precio{
    margin: 1px;
    font-size: 18px;
    width: 30%;
}

.descuento{
    font-size: 16px;
    margin: 1px;
    width: 70%;
}

div.carrusel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

main div.productos{
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    border-top:1px solid rgba(219, 219, 219, 0.767);
    position: relative;
    padding: 5px;
    margin: 15px;
}


.fotografias{
    width: 174px;
    height: 174px;
}

main section.bannerDescuentos img{
    width: 100%;
}
.categoriaPopu{
    text-align: center;
    margin: 5px;
}
div.populares{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    position: relative;
}

main div.categoria{
    color: white;
    font-size: 18px;
}


.categoria{
    position: absolute;
    top:40px;
    align-content: center;
    padding-left: 20px;
}
.fondo img{
    width: 100%;
    opacity: 0.5;
    object-fit: contain;
}

.texto-fondo{
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
}

.kitTittle{
    text-align: center;
    margin-bottom: 10px;
}

div.kit{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
}

main section div.kit-img img{
    width: 100%;
}

.circle{
    width: 50%;
    position: absolute;
    top: 25px;
    align-items: center;
}

.combos{
    width: 100%;
    z-index: 1;
}

div.refKit,
div.descripcionKit{
    text-align: center;
    justify-content: flex-start;
    align-self: center;
    width: 85%;
}

div.refKit P,
div.descripcionKit P{
    font-size: 16px;
    font-family: 'Bebas Neue';
}



main section article:hover .descripcion{
    display: block;
}

main section div.circle img{
    transition: transform 1s;
}

main section div.circle :hover img{
    transform: rotateZ(-90deg);
}

@media(min-width:361px){
main section div.carrusel article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}}


@media(min-width:761px){
    .lista01{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 50%;
        flex-direction: row-reverse;
    }

    .lista02{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        flex-direction: row-reverse;
    }

    main section div.carrusel article{
        width: 23%;    
    }

    main section div.populares article{
        width: 33%;
    }

    .categoria{
        position: absolute;
        top:150px;
        align-content: center;
        padding-left: 100px;
    }
}
    