*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {

    background-color: #303135; 
    border: solid #b1b6cc;
    margin: 0%;
    padding: 1em;
    padding-bottom: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
        
}
.juniiv-logo{
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: 250px;
    

}
.header-search{
    display: flex;
    flex-wrap: wrap;
    background-color: #303135;
    height: auto;
    width: 90%;
    flex-direction: row;
    height: 50%;
    align-self: center;
    }
    
    @media screen and (min-width: 480px){
        .header-search .search-box{
            margin: auto;
            background-color: #303135;
            position: absolute;
            padding: 5px;
            width: 70%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            align-self: center;
        }

        .btn {
            position: absolute;
            top: 3%;
            right:0;
            background: #000000;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            color: white;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;
        }

    }

    @media screen and (min-width: 780px) and (max-width:1024px) {

        .header-search .search-box{
            margin: auto;
            background-color: #303135;
            position: absolute;
            padding: 5px;
            width: 60%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            align-self: center;
        }

        .btn {
            position: absolute;
            top: 3%;
            right:0;
            background: #000000;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            color: white;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;
        }

     }

    @media screen and (min-width: 480px) and (max-width:780px) {

        .header-search .search-box{
            margin: auto;
            background-color: #303135;
            position: absolute;
            padding: 5px;
            width: 45%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            align-self: center;
        }

        .btn {
            position: absolute;
            top: 10%;
            right:0;
            background: #000000;
            width: 10%;
            height: 80%;
            line-height: 55px;
            text-align: center;
            color: white;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;
        }


        .main-navbar{
            width: 30%;
            padding: 1%;;
            font-size: 19px;
            color: red;
            height: 40%;
            background-color: #533D66;
            text-decoration: none;
            align-items: flex-start;
            display: flex;
            flex-direction: bottom;
            
        }
        
        .main-navbar ul li{
            vertical-align: top;
            display: inline;
            font-size: 0.4em;
            padding: 0.3em;
        }

    }



.search-box input{
    width: 90%;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;

}



.search-box:hover input{
    width: 100%;
}


.li{
    font-size: 100px;
}

.main-navbar{
    position: relative;
    top: 150px;
    width: 500px;
    padding: 10px;;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    height: 40%;
    background-color: #303135;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}