*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 2%;
}


body{
    margin: 0;
    background-image: linear-gradient(to bottom, #000000,#222222) ;
    position: relative;
}

@media screen and (min-width: 780px) and (max-width:1024px){

    section{
        font-size: 60%;
        margin:auto;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);  
        border: solid #ffffff;
        width: 100%;
        height: auto;
        color: white;
    }


    .contenedor{
        visibility:hidden;
    }

    .productosInteres{
        visibility:hidden;
    }

    .carritoDeCompra{
        border: solid black 5px;
        text-align: center;
        padding: 20%;
        width: 80%;
        background:linear-gradient(89.17deg,#302f2f 12.64%,#454545 173.99%);
        color: white;
    }
    
    
}

@media screen and (min-width: 480px) and (max-width:780px){

    section{
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);  
        top: 30%;
        border: solid #ffffff;
        width: 100%;
        height: 100%;
        color: white;
    }


    .contenedor{
        font-size: 80%;
        width: 35%;
        height: 10%;
        margin: 45px;
        padding: 60px;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
        border-left: solid #ffffff;
        border-right: solid black;
        border-bottom: solid black;
        border-top: solid black;
        color: white;
        visibility:hidden;
    }

    .productosInteres{
        margin-top: 10px;
        text-align: center;
       width: 30%;
       height: 3%;
       border: solid black 3px;
        color: white;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
        visibility:hidden;
    }
    
    .carritoDeCompra{
        border: solid black 5px;
        text-align: center;
        background:linear-gradient(89.17deg,#302f2f 12.64%,#454545 173.99%);
        color: white;
    }
    

}

@media screen and (min-width: 480px){

    section{
        font-size: 80%;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);    position: absolute;
        right: 5%;
        top:35%;
        padding: 300px solid #9d4edd;
        margin: 50px;
        border: solid #ffffff;
        width: 50%;
        height: 130%;
        color: white;
    }


    .carritoDeCompra{
        border: solid black 5px;
        text-align: center;
        padding: 20px;
        width: 80%;
        background:linear-gradient(89.17deg,#302f2f 12.64%,#454545 173.99%);
        color: white;
    }
    


    .contenedor{
        width: 35%;
        height: 10%;
        margin: 45px;
        padding: 60px;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
        border-left: solid #ffffff;
        border-right: solid black;
        border-bottom: solid black;
        border-top: solid black;
        color: white;
    }

    .productosInteres{
        margin-top: 10px;
        text-align: center;
       width: 30%;
       height: 3%;
       border: solid black 3px;
        color: white;
        background:linear-gradient(89.17deg,#1a1a1a 12.64%,#454545 173.99%);
    }
    

}


h2{
    text-align:center;
    margin-top: 2%;
    margin-left: 5%;
}

h3{
    margin-top: 10px;
    margin-left: 70px;
}


.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.5);
}

.contenedor img{
    padding: solid black 1px;
    border: solid black 3px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.contenedor p{
    font-size: 15px;
    font-weight: 300;
}

section img{
    border: solid rgba(234, 5, 255, 0.233) 3px;
    width: 30%;
    float: left;
    margin: 10px;
}

section li{
    width: 38%;
    height: 70%;
    margin-bottom: 7%;

}

.precio{
    position: relative;
    left: 170%;
    bottom: 30%;
}

.precioDerecha{
    font-size: 60%;
    position: relative;
    left:80%;
    font-size: 20px;
    margin-left: 2% ;
    padding-left:2% ;
}

section ul{
    margin: 3%;
    margin-bottom: 10%;
    border-bottom: solid black 2px;
}

.nombre{
    font-size: 50%;
    position: relative;
    bottom: 20%;
    font-size: 20px;
   left: 10%;
   margin-top: 2%;
}

.codDescuento{
   position: relative;
   bottom: 3%;
   left: 20%;
}

.total{
    font-size: 20px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 10px;
}

.iniciarCompra{
    position: relative;
    left: 270px;
    width: 50%;
    height: 10%;
}



