<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun.scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

<header>
    <img class="fondo" src="img/fondo.jpg" alt="fondo">
    <img class="superpuesta" src="img/logo.jpg" alt="logo juniiv">

</header>

    <body>

        <h2 class="productosInteres"> Productos que podrian interesarte</h2>
        <div class="contenedor">
            <img class="zoom" src="img/monitor.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
        </select>
        <input type="button" name="agregar" value="agregar" >

        </div>
        <div class="contenedor">
            <img class="zoom" src="img/joystick.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
            <div>
                <img src="img/agregar-carrito.png" alt= "agregar al carrito">
            </div>
        </select>
        <input type="button" name="agregar" value="agregar">

        </div>

        <div class="contenedor">
            <img class="zoom" src="img/teclado.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
        </select>
        <input type="button" name="agregar" value="agregar">
        </div>
        <div class="contenedor">
            <img class="zoom" src="img/mouse.jpg">
            <p>Nombre del producto - precio: $202020</p>
            <p>Elige una variante</p>
            <select id=ddselect >
            <option> --1--</option>
            <option> --3--</option>
            <option> --3--</option>
            <option> --4--</option>
            </select>
            <input type="button" name="agregar" value="agregar">

        </div>

        <section>
            <h2 class="carritoDeCompra">Carrito de compra</h2>

            <ul>
                <li>
                    <img class="zoom" src="img/joystick.jpg">
                    <h6 class= "nombre">Nombre del producto</h6>
                    <p class= "precio">      $202020</p>
                    <p class= "nombre">Caracteristicas:</p>
                    <select id=ddselect >
                        <option> --1--</option>
                        <option> --3--</option>
                        <option> --3--</option>
                        <option> --4--</option>
                        </select>
                        <p class="precio"><a href="#">Quitar del carrito</a></p>                    
                    
                </li>
                <li>
                    <img class="zoom" src="img/joystick.jpg">
                    <p class= "nombre">Nombre del producto</p>
                    <p class= "precio">      $202020</p>
                    <p class= "nombre">Caracteristicas:</p>
                    <select id=ddselect >
                        <option> --1--</option>
                        <option> --3--</option>
                        <option> --3--</option>
                        <option> --4--</option>
                        </select>
                        <p class="precio"><a href="#">Quitar del carrito</a></p>                    

                   
                </li>
                <li>
                    <img class="zoom" src="img/joystick.jpg">
                    <p class= "nombre">Nombre del producto</p>
                    <p class= "precio">      $202020</p>
                    <p class= "nombre">Caracteristicas:</p>
                    <select id=ddselect >
                        <option> --1--</option>
                        <option> --3--</option>
                        <option> --3--</option>
                        <option> --4--</option>
                        </select>
                        <p class="precio"><a href="#">Quitar del carrito</a></p>                    

                </li>
            </ul>

            <div class="codDescuento">
            <input type= "text" value="codigo de descuento" style='width:50%; height:80%'>
            <input type="button" name="agregar" value="usar" style='width:70px; height:25px'>
            </div>

            <div class="total">
                <p>subtotal:</p>
                <p class="precioDerecha">$00000000</p>
                <p>envio:</p>
                <p class="precioDerecha">$00000000</p>
            </div>
            <div class="total">
                <p>Total:</p>
                <p class="precioDerecha">$00000000</p>
            </div>
            <div class=iniciarCompra>
            <input type="button" name="iniciar" value="INICIAR COMPRA" style='width:50%; height:40%'>
            </div>
        </section>
        
    </body>
    <footer>

    </footer>
</html>