<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junniv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style-index.css">
</head>
<body>
    <header>
        <%- include('./partials/head') %>    
    </header>
    <section class="publicidad">
    <img src = "/img/banner-diadema.jpg" alt=banner-diadema>
    </section>
    <main>
        <section>
            <div class ="carrusel">
                <article>
                <img src="/img/padmouse-redragon.png" alt=PadMouse>
                <div class="productos">
                    <h4 class = "tituloPro">Pad Redragon</h4>
                    <p class = "descripcion">Pad mouse de diferentes tamaños,con goma natural de alta adherencia con un grosor de 0,5mm con base antideslizante</p>
                    <p class = "precio">$31.900</p>
                    <p class = "descuento">5% OFF</p>
                    <p><a href = #>Ver detalles</a></p>
                </div>
                </article>
                <article>
                <img src="/img/tecladokb500.png" alt=TecladoKB500>
                <div class="productos">
                    <h4 class = "tituloPro">Teclado kb500</h4>
                    <p class = "descripcion">Teclado gamer rgb retroiluminado RGB con 26 teclas antighosting y acceso a 10 teclas multimedia</p>
                    <p class = "precio">79.900</p>
                    <p class = "descuento">10% OFF</p>
                    <p><a href = #>Ver detalles</a></p>
                </div>
                </article>
                <article>
                <img src="/img/diademah2239d.png" alt=DiademaH2239d>
                <div class="productos">
                    <h4 class = "tituloPro">Diadema H2239d</h4>
                    <p class = "descripcion">Diadema gamer con luces led, altavoz magnético alto de 40 mm y espuma viscoelastica</p>
                    <p class = "precio">$75.900</p>
                    <p class = "descuento">15% OFF</p>
                    <p><a href = #>Ver detalles</a></p>
                </div>
                </article>
                <article>
                <img src="/img/mouse1027.png" alt=Mouse-1027>
                <div class="productos">
                    <h4 class = "tituloPro">Mouse 1027</h4>
                    <p class = "descripcion">Mouse gamer gaming RGB, cuenta con 2400dpi y 6 botonoes</p>
                    <p class = "precio">29.900</p>
                    <p class = "descuento">15% OFF</p>
                    <p><a href ="/detalleProducto">Ver detalles</a></p>
                </div>
                </article>
            </div>
        </section>
        <section class="bannerDescuentos">
            <img src ="/img/banner-descuentos.png" alt="Descuentos">
        </section>
        <section>
           <h3 class = "categoriaPopu">caterogías Populares</h3>
           <div class ="populares">
           <article>
               <div class="fondo">
               <img src = "/img/diadema-banner.png" alt="Diademas">
               </div>
               <div class="categoria">
               <p class ="texto-fondo">Diademas</p>
               <p><a href = #>Ver más</a></p>
               </div>
           </article>
           <article>
            <div class="fondo">
            <img src = "/img/banner-teclado-cat.jpg" alt="Teclados">
            </div>
            <div class="categoria">
            <p class ="texto-fondo">Teclados</p>
            <p><a href = #>Ver más</a></p>
            </div>
        </article>
        <article>
            <div class="fondo">
            <img src = "/img/banne-padmouse-cat.png" alt="PadMouse">
            </div>
            <div class="categoria">
            <p class ="texto-fondo">Pad Mouse</p>
            <p><a href = #>Ver más</a></p>
            </div>
        </article>
        </div>
        </section>
        <section>
            <h3 class = kitTittle>Arma tu kit gamer</h3>
            <article>
                <div class="kit">
                    <div class = refKit>
                    <p>Ref:KB552</p>
                    </div>
                    <div class = kit-img>
                        <div class="combos">
                        <img src = "/img/comboK552.png" alt="Combos">
                        </div>
                        <div class = "circle">
                        <img src = "/img/bkg_circle-carousel.svg" alt="circle">
                        </div>
                    </div>
                    <div class = descripcionKit>
                        <p>Mouse gamer</p>
                        <p>Teclado Kumara mecánico</p>
                        <p>Pad Mouse Archelon</p>
                        <p>Diadema Ares</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
</body>
</html>