<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/style-register.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>  
<body>
    <header>
        <%- include('./partials/head') %>    
    </header>
<main>
    <div class="container">
        <div class="title">Agregar nuevo producto</div>
        <form action="/productos" method="POST" enctype="multipart/form-data">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Titulo </span>
                    <input type="text" name="name" placeholder="Titulo del producto" required>
                </div>
                <div class="input-box">
                    <span class="details">Categoria</span>
                    <select name="category" id="category" class="form-input" required>
                    <option value="">Categoria del producto</option>
                    <option value="in-sale">Diademas</option>
                    <option value="visited">Teclados</option>
                    <option value="in-sale">Pad mouse</option>
                    <option value="visited">Mouse</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Descripcion</span>
                    <input type="text" name="description" placeholder="Descripcion del producto" required>
                </div>
                <div class="input-box">
                    <span class="details">Precio</span>
                    <input type="number" name="price" placeholder="Precio del Producto" required>
                </div>
                <div class="input-box">
                    <span class="image">Imagen del producto</span>
                    <input type="file" id="image" name="image" class="form-input">
                </div>
            </div>
            <div class="button">
                <button type="submit" class="button-Cargar">Guardar producto</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <%- include('./partials/footer') %>  
</footer>
</body>
</html>