<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/style-register.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>  
<body>
    <header>
        <%- include('./partials/head') %>    
    </header>
<main>
    <div class="container">
        <div class="title">Registrate</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre </span>
                    <input type="text" placeholder="Pon tu Nombre" required>
                </div>
                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Pon tu Apellido" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Pon tu Email" required>
                </div>
                <div class="input-box">
                    <span class="details">Telefono</span>
                    <input type="text" placeholder="Pon tu Telefono" required>
                </div>
                <div class="input-box">
                    <span class="details">Contrase単a</span>
                    <input type="password" placeholder="Pon tu Contrase単a" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirmar Contrase単a</span>
                    <input type="password" placeholder="Confirma tu Contrase単a" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Registrar">

            </div>
        </form>
    </div>
</main>
<footer>
    <%- include('./partials/footer') %>  
</footer>
</body>
</html>